<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
<!-- Hace referencia al nombre que queremos poner de la plantilla(layout) poniendo la ruta/nombre archivo :: nombre del fragment -->

</head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a th:href="@{/audiovisualMaterial/create}"
						class="btn btn-primary btx-xs" style="margin-bottom: 10px">Crear
						Material Audiovisual</a>

					<form th:action="@{/audiovisualMaterial/listAll}" method="get">
						<div class="input-group mb-3">
							<button class="btn btn-outline-primary" type="submit"
								id="button-addon1">Buscar</button>
							<input type="text" name="busqueda" class="form-control"
								placeholder="Busqueda por nombre"
								aria-describedby="button-addon1">
						</div>

					</form>
				</h4>

			</div>


			<table class="table table-striped">
				<thead>
					<tr>

						<th>Nombre material</th>
						<th>Cantidad</th>
						<th>Editar</th>
						<th>Eliminar</th>
						<th>Detalle</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="material: ${listMaterials}">

						<td th:text="${material.materialName}"></td>
						<td th:text="${material.amount}"></td>
						<td><a class="btn btn-primary btn-xs"
							th:href="@{/audiovisualMaterial/edit/} + ${material.id}">Editar
								Material</a></td>
						<!-- IMPORTANTE PARA CONFIRMAR BORRADO DE UN CAMPO -->
						<td><a class="btn btn-danger btn-xs"
							th:href="@{/audiovisualMaterial/delete/} + ${material.id}"
							onclick="return confirm('Estás seguro que quieres eliminar al material?.');">Eliminar
								Material</a></td>
						<td><a class="btn btn-success btn-xs"
							th:href="@{/audiovisualMaterial/detail/} + ${material.id}">Detalle
								Material</a></td>


					</tr>
				</tbody>
			</table>
			<nav th:replace="paginator-nav :: paginator"></nav>
		</div>
	</div>


	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>