<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h1 th:text="${titulo}"></h1>


				<form th:action="@{/hardworkingCompany/save}"
					th:object="${hardworkingCompany}" method="post"
					enctype="multipart/form-data">
					<!-- necesario para subir imagenes(upload de archivos) -->


					<!-- <input type="hidden" th:field="*{id}" /> con SessionAtributes no es necesario -->
					<input type="hidden" th:field="*{id}" />
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Nombre Empresa
							Trabajadora</label>
						<div class="col-sm-5">
							<input type="text" th:field="*{name}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
						</div>
					</div>

					<div class="form-group row" style="margin-top: 10px">
						<label class="col-sm-2 col-form-label">Province</label>
						<div class="col-sm-5">
							<input type="text" th:field="*{province}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('province')}" th:errors="*{province}"></small>
						</div>
					</div>

					<div class="form-group row" style="margin-top: 10px">
						<label class="col-sm-2 col-form-label">Email</label>
						<div class="col-sm-5">
							<input type="text" th:field="*{email}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
						</div>
					</div>

					<div class="form-group row" style="margin-top: 10px">
						<label class="col-sm-2 col-form-label">Postal Code</label>
						<div class="col-sm-5">
							<input type="text" th:field="*{postalCode}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('postalCode')}"
								th:errors="*{postalCode}"></small>
						</div>
					</div>

					<div class="form-group row" style="margin-top: 10px">
						<label class="col-sm-2 col-form-label">cif</label>
						<div class="col-sm-5">
							<input type="text" th:field="*{cif}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('cif')}" th:errors="*{cif}"></small>
						</div>
					</div>

					<div class="form-group row" style="margin-top: 10px">
						<label class="col-sm-2 col-form-label">phone</label>
						<div class="col-sm-5">
							<input type="text" th:field="*{phone}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></small>
						</div>
					</div>

					<div class="form-group row" style="margin-top: 10px">
						<label class="col-sm-2 col-form-label">Direccion</label>
						<div class="col-sm-5">
							<input type="text" th:field="*{direccion}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('direccion')}"
								th:errors="*{direccion}"></small>
						</div>
					</div>

					<div class="form-group row" style="margin-top: 10px">
						<label for="file" class="col-sm-2 col-form-label">Foto</label>
						<div class="col-sm-6">
							<input type="file" name="file" class="form-control">
						</div>
					</div>




					<input type="submit" value="Crear Material" class="btn btn-primary"
						style="margin-top: 10px" th:if="${hardworkingCompany.id == null}" />

					<div>
						<input type="submit" value="Guardar cambios"
							class="btn btn-primary" style="margin-top: 10px"
							th:if="${hardworkingCompany.id != null}" />
					</div>


				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>